<mat-toolbar color="primary" class="toolbar">
  <span>REACTIVE CRUD</span>
  <span style="flex: 1 1 auto"></span>
  <button mat-mini-fab color="link" (click)="add()">
    <mat-icon>add</mat-icon>
  </button>
</mat-toolbar>
<mat-progress-bar *ngIf="loader" mode="indeterminate"></mat-progress-bar>
<mat-sidenav-container class="container">
  <mat-sidenav #sidenav class="sidenav" mode="over">
    <div *ngIf="!loader; else spinner">
      <div class="current" *ngIf="!addMode">
        <p>ID={{current?.id}}</p>
        <img [src]="current?.photo" alt="...">
        <p>{{current?.hired}}</p>
      </div>
      <form class="form">
        <mat-form-field class="form-field">
          <mat-label>Name</mat-label>
          <label><input matInput [(ngModel)]="current.name" name="name"></label>
        </mat-form-field>
        <mat-form-field class="form-field">
          <mat-label>Position</mat-label>
          <label><input matInput [(ngModel)]="current.position" name="position"></label>
        </mat-form-field>
        <mat-form-field class="form-field">
          <mat-label>Salary</mat-label>
          <label><input matInput [(ngModel)]="current.salary" name="salary"></label>
        </mat-form-field>
        <mat-slide-toggle [(ngModel)]="current.work" name="work">Work</mat-slide-toggle>
        <button mat-mini-fab (click)="save()">
          <mat-icon>save</mat-icon>
        </button>
      </form>
    </div>
    <ng-template #spinner>
      <div class="spinner"><mat-spinner></mat-spinner></div>
    </ng-template>
  </mat-sidenav>
  <mat-sidenav-content class="content">
    <mat-nav-list>
      <mat-list-item *ngFor="let employee of employees; let i = index">
        <div class="employee" (click)="open(employee)">
          <div><img [src]="employee.photo" alt="..."></div>
          <div>{{employee.name}}</div>
          <div>{{employee.position}}🛠</div>
          <div>{{employee.salary}}💰</div>
        </div>
        <button mat-mini-fab color="warn" (click)="remove(i, employee)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav-content>
</mat-sidenav-container>
