<mat-sidenav-container class="example-container">

  <mat-sidenav #sidenav class="example-sidenav" mode="over">
    <p>TEST</p>
  </mat-sidenav>

  <mat-sidenav-content>

    <mat-toolbar color="primary" class="position-fixed">
      <span>REACTIVE CRUD</span>
    </mat-toolbar>

    <div class="example-sidenav-content">
      <div *ngFor="let employee of employees">
        {{employee.name}}
      </div>
      <button type="button" mat-button (click)="sidenav.toggle()">
        TEST
      </button>
    </div>

  </mat-sidenav-content>

</mat-sidenav-container>
