.example-container {
  height: 100%;
}

.example-sidenav-content {
  height: 100%;
}

.example-sidenav {
  padding: 20px;
}

.position-fixed {
  position: fixed;
  z-index: 54;
}

table {
  width: 100%;
}
